@import "_config.scss";

#App {
    height: 100vh;
}

header {
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;

    .logo {
        position: absolute;
        letter-spacing: 5px;
        top: 50%; left: 15px;
        @include translateY(-50%);

        a {
            color: $white;
        }
    }

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 25px;

            &.last {
                margin: 0;
            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $white;
            }
        }
    }
}

footer {
    position: absolute;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    bottom: 0;
    height: 90px;

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: relative;

        top: 50%; right: 0px;
        @include translateY(-50%);

        ul {
            text-align: center;
        }

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 25px;

            &.last {
                margin: 0;
            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $white;
            }
        }
    }
}